*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
.parent{
    height: 100vh;
    /* width: 100px; */
    background-color: rgb(200, 139, 217);
    padding: 0.1px;
}
#card{
    height: 500px;
    width: 300px;
    background-color: rgb(51, 60, 219);
    margin-top: 8%;
    margin-left: 40%;
}
#card span img{
    height: 100px;
    width: 280px;
}
/* #card */ .para {  
    color: rgb(206, 8, 24);
    text-shadow: 0lvw;
    padding-left: 10px;
    font-size: 20PX;

}
.sasuke img{
    margin-left: 10px;
    margin-top: 50px;
    height: 120px;
    width: 120px;
    border-radius: 50%; 
    /* display: inline-block; */
}
.sasuke{
    display: flex;
    /* align-items: center; */
}
.sasuke span h1{
    color: blanchedalmond;
   margin-left: 30px;
   margin-top: 50px;
   /* float: left; */
  /* padding-bottom: 50px; */
   font-size: 25px;
}
.sasuke span p {
    margin-left: 10px;
    font-size: 15px;
    margin-top: 23px;
   /* height: auto; */
    color: grey;    
   
}